parameters:
    ignoreErrors:
        - '#Constructor of class Tests\\EoneoPay\\ApiFormats\\Stubs\\EncoderWithoutInterface has an unused parameter \$request.#'
        - '#Parameter \#1 \$app of class EoneoPay\\ApiFormats\\Bridge\\Laravel\\Providers\\ApiFormatsServiceProvider constructor expects Illuminate\\Contracts\\Foundation\\Application, Laravel\\Lumen\\Application given.#'
        - '#Strict comparison using === between true and false will always evaluate to false.#'
