parameters:
    ignoreErrors:
        - '#Property Symfony\\Component\\HttpFoundation\\Response::\$headers \(Symfony\\Component\\HttpFoundation\\ResponseHeaderBag\) does not accept array.#'
        - '#Method EoneoPay\\ApiFormats\\Bridge\\Laravel\\Responses\\FormattedApiResponse::getHeaders\(\) should return array but returns Symfony\\Component\\HttpFoundation\\ResponseHeaderBag.#'
        - '#Constructor of class Tests\\EoneoPay\\ApiFormats\\Stubs\\EncoderWithoutInterface has an unused parameter \$request.#'
        - '#Parameter \#1 \$app of class EoneoPay\\ApiFormats\\Bridge\\Laravel\\Providers\\ApiFormatsServiceProvider constructor expects Illuminate\\Contracts\\Foundation\\Application, Laravel\\Lumen\\Application given.#'